---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';

const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <!-- uncomment if we need actions -->
  <!-- actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Learn more', href: '#features' },
    ]} -->
  <Hero>
    <Fragment slot="title"> Save The Date </Fragment>

    <Fragment slot="subtitle">
      <span class="inline">
        <span class="font-semibold"
          ><span>3rd Annual RJ Croce Celebration</span>
          <br />
          <span>Golf Outing</span>
          <br />
          <span>8/21/25</span>
          <br />
          <span>Beacon Hill Country Club</span>
          <span>Middletown, NJ</span>
        </span>
      </span>
    </Fragment>
  </Hero>
</Layout>
