---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';
import Logo from '~/components/Logo.astro';

const metadata = {
  title: 'Coming Soon',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Coming Soon"
    image={{
      src: '~/assets/images/RJ Croce Foundation Logo.png',
      alt: 'Foundation Logo',
    }}
  >
    <Fragment slot="title">
      We are Constantly Looking <br />
      <span class="text-accent dark:text-white highlight"> For New Ways to Give Back </span>
    </Fragment>

    <Fragment slot="subtitle">
        <div class="text-white text-2xl">
            We are commited to funding opportunities that enhance and enrich our comunity. 
            Please check back at a later date for more.
        </div>
    </Fragment>
  </Hero>

</Layout>